﻿
@{
    ViewData["Title"] = "RegisterResult";
}


<div class="col-sm-9">
    @if (ViewBag.Result)
    {
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Register Success!</h4>
            <p>Now you can post your blog.</p>
            <hr>
            <a class="btn btn-secondary" asp-action="Index" asp-controller="Home">Back to Home Page</a>
            <a class="btn btn-outline-success" asp-action="Login" asp-controller="Accounts">Login</a>
        </div>
    }
    else
    {
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">Something wrong with server</h4>
                <hr>
                <a class="btn btn-secondary" asp-action="Index" asp-controller="Home">Back to Home Page</a>
            </div>
    }
</div>