﻿@model List<TechBlog.Models.ViewModels.BlogVM>;
@{
    ViewData["Title"] = "Home Page";
}

<div class="col-sm-9">
    <div class="row">
        @if (Model.Count() > 0)
        {
            @foreach (var blog in Model)
            {
                <div class="col-md-6">
                    <div class="card mb-3">
                        <img src=@blog.ImageUrl class="card-img-top blog-image-thumbnail" alt="Blog Display">
                        <div class="card-body">
                            <a class="card-title h4 multi-line-truncate" target="_blank" asp-controller="Blogs" asp-action="Detail" asp-route-id=@blog.Id>
                                @blog.Title
                            </a>
                            <p class="card-text">
                                Author: @blog.NameAuthor - Date: @blog.CreatedTime.ToShortDateString()
                                
                            </p>
                            <div class="float-right">
                                @foreach (var tag in @blog.Tags)
                                {
                                    <a href="."><span class="badge badge-info">#@tag.Name</span></a>
                                }
                            </div>
                            
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="alert alert-dismissible alert-danger w-100">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4 class="alert-heading">Don't have any blog to show!!!</h4>
                <p class="mb-0">Choose another tag.</p>
            </div>
        }

        <div class="col-12 text-center my-3">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-secondary">Left</button>
                <button type="button" class="btn btn-secondary">1</button>
                <button type="button" class="btn btn-secondary">2</button>
                <button type="button" class="btn btn-secondary">3</button>
                <button type="button" class="btn btn-secondary">Right</button>
            </div>
        </div>
    </div>
</div>


