<div class="body" data-article-id="283504" id="article-body" itemprop="articleBody">
    <p>I have already talked about how to retrieve a list of YouTube videos by its channel ID.</p>

<p>Now it's time to check the details of a single video. Let's say that you like a song, you listen to it at least 2 times a day and you want to download its description because it contains the lyrics.</p>

<p>And let's say that this song is <em>Tooth Fairy</em> by Nanowar of Steel.</p>

<p><div class=" fluidvids" style="padding-top: 56.1972%;"><iframe width="710" height="399" src="https://www.youtube.com/embed/CzvQxQYKO88" allowfullscreen="" loading="lazy" class=" fluidvids-elem">
</iframe></div>
</p>

<p>You can just copy and paste, right? Nah, too easy! 😁</p>

<h2>
<a name="initial-steps" href="#initial-steps" class="anchor">
</a>
Initial steps
</h2>

<p>The basic setup is the same I explained in <a href="https://www.code4it.dev/blog/search-youtube-videos-dotnet">my previous article</a> about how to search for videos on a YouTube channel.</p>

<p>What you need to do is:</p>

<ol>
<li>Retrieve you API key;</li>
<li>Create a .NET Core application</li>
<li>Install <code>Google.Apis</code> and <code>Google.Apis.YouTube.v3</code> NuGet packages</li>
<li>Create the class that will hold the video details:
</li>
</ol>

<div class="highlight"><pre class="highlight csharp"><code><span class="k">public</span> <span class="k">class</span> <span class="nc">YouTubeVideoDetails</span>
<span class="p">{</span>
<span class="k">public</span> <span class="kt">string</span> <span class="n">VideoId</span> <span class="p">{</span> <span class="k">get</span><span class="p">;</span> <span class="k">set</span><span class="p">;</span> <span class="p">}</span>
<span class="k">public</span> <span class="kt">string</span> <span class="n">Description</span> <span class="p">{</span> <span class="k">get</span><span class="p">;</span> <span class="k">set</span><span class="p">;</span> <span class="p">}</span>
<span class="k">public</span> <span class="kt">string</span> <span class="n">Title</span> <span class="p">{</span> <span class="k">get</span><span class="p">;</span> <span class="k">set</span><span class="p">;</span> <span class="p">}</span>
<span class="k">public</span> <span class="kt">string</span> <span class="n">ChannelTitle</span> <span class="p">{</span> <span class="k">get</span><span class="p">;</span> <span class="k">set</span><span class="p">;</span> <span class="p">}</span>
<span class="k">public</span> <span class="n">DateTime</span><span class="p">?</span> <span class="n">PublicationDate</span> <span class="p">{</span> <span class="k">get</span><span class="p">;</span> <span class="k">set</span><span class="p">;</span> <span class="p">}</span>
<span class="p">}</span>
</code></pre></div>



<p>Also, since you want to get the details of a video, you need the VideoId. You can retrieve it in 2 ways: programmatically, using the procedure from the previous article, or analysing the YouTube URL: if we have <a href="https://www.youtube.com/watch?v=CzvQxQYKO88">https://www.youtube.com/watch?v=CzvQxQYKO88</a>, the id is <em>CzvQxQYKO88</em>.</p>

<p>Now we have everything we need. Let's go!</p>

<h2>
<a name="add-a-youtube-service" href="#add-a-youtube-service" class="anchor">
</a>
Add a YouTube service
</h2>

<p>Again, we need to instantiate the YouTube service.<br>
</p>

<div class="highlight"><pre class="highlight csharp"><code><span class="k">using</span> <span class="p">(</span><span class="kt">var</span> <span class="n">youtubeService</span> <span class="p">=</span> <span class="k">new</span> <span class="nf">YouTubeService</span><span class="p">(</span><span class="k">new</span> <span class="n">BaseClientService</span><span class="p">.</span><span class="nf">Initializer</span><span class="p">()</span>
<span class="p">{</span>
<span class="n">ApiKey</span> <span class="p">=</span> <span class="err">'</span><span class="p">&lt;</span><span class="n">your</span> <span class="n">api</span> <span class="n">key</span><span class="p">&gt;</span><span class="err">'</span>
<span class="p">}))</span>
<span class="p">{</span>
<span class="c1">// your code here </span>
<span class="p">}</span>
</code></pre></div>



<h2>
<a name="download-video-details" href="#download-video-details" class="anchor">
</a>
Download video details
</h2>

<p>Since YouTube provides an object for each service, we must use the correct one, and then we need to specify the video ID:<br>
</p>

<div class="highlight"><pre class="highlight csharp"><code><span class="kt">var</span> <span class="n">searchRequest</span> <span class="p">=</span> <span class="n">youtubeService</span><span class="p">.</span><span class="n">Videos</span><span class="p">.</span><span class="nf">List</span><span class="p">(</span><span class="s">"snippet"</span><span class="p">);</span>
<span class="n">searchRequest</span><span class="p">.</span><span class="n">Id</span> <span class="p">=</span> <span class="s">"CzvQxQYKO88"</span><span class="p">;</span>
</code></pre></div>



<p>Once we have created the request, we need to retrieve the result:<br>
</p>

<div class="highlight"><pre class="highlight csharp"><code><span class="kt">var</span> <span class="n">searchResponse</span> <span class="p">=</span> <span class="k">await</span> <span class="n">searchRequest</span><span class="p">.</span><span class="nf">ExecuteAsync</span><span class="p">();</span>
</code></pre></div>



<p>The searchResponse object contains various information shared with other services, like pagination. We don't need those info, and we can go straight to the video details:<br>
</p>

<div class="highlight"><pre class="highlight csharp"><code><span class="kt">var</span> <span class="n">youTubeVideo</span> <span class="p">=</span> <span class="n">searchResponse</span><span class="p">.</span><span class="n">Items</span><span class="p">.</span><span class="nf">FirstOrDefault</span><span class="p">();</span>
</code></pre></div>



<p>Finally, we can populate our YouTueVideoDetails object:<br>
</p>

<div class="highlight"><pre class="highlight csharp"><code><span class="n">YouTubeVideoDetails</span> <span class="n">videoDetails</span> <span class="p">=</span> <span class="k">new</span> <span class="nf">YouTubeVideoDetails</span><span class="p">()</span>
<span class="p">{</span>
<span class="n">VideoId</span> <span class="p">=</span> <span class="n">youTubeVideo</span><span class="p">.</span><span class="n">Id</span><span class="p">,</span>
<span class="n">Description</span> <span class="p">=</span> <span class="n">youTubeVideo</span><span class="p">.</span><span class="n">Snippet</span><span class="p">.</span><span class="n">Description</span><span class="p">,</span>
<span class="n">Title</span> <span class="p">=</span> <span class="n">youTubeVideo</span><span class="p">.</span><span class="n">Snippet</span><span class="p">.</span><span class="n">Title</span><span class="p">,</span>
<span class="n">ChannelTitle</span> <span class="p">=</span> <span class="n">youTubeVideo</span><span class="p">.</span><span class="n">Snippet</span><span class="p">.</span><span class="n">ChannelTitle</span><span class="p">,</span>
<span class="n">PublicationDate</span> <span class="p">=</span> <span class="n">youTubeVideo</span><span class="p">.</span><span class="n">Snippet</span><span class="p">.</span><span class="n">PublishedAt</span>
<span class="p">};</span>
</code></pre></div>



<p>The <code>youTubeVideo</code> object contains references to the thumbnails. As you might remember, in the article about <a href="https://www.code4it.dev/blog/search-youtube-videos-dotnet">how to search for videos</a> associated to a YouTube channel, I explained that the images that you get with the <em>Search</em> endpoint are different to the ones here, in the <em>Videos</em> endpoint. My suggestion is to try both the examples on my GitHub page (see below) and find the differences.</p>

<h2>
<a name="final-result" href="#final-result" class="anchor">
</a>
Final result
</h2>

<p>Ok, we are ready to join all the pieces of the puzzle!<br>
</p>

<div class="highlight"><pre class="highlight csharp"><code><span class="k">public</span> <span class="k">async</span> <span class="n">Task</span><span class="p">&lt;</span><span class="n">YouTubeVideoDetails</span><span class="p">&gt;</span> <span class="nf">GetVideoDetails</span><span class="p">()</span>
<span class="p">{</span>
<span class="n">YouTubeVideoDetails</span> <span class="n">videoDetails</span> <span class="p">=</span> <span class="k">null</span><span class="p">;</span>
<span class="k">using</span> <span class="p">(</span><span class="kt">var</span> <span class="n">youtubeService</span> <span class="p">=</span> <span class="k">new</span> <span class="nf">YouTubeService</span><span class="p">(</span><span class="k">new</span> <span class="n">BaseClientService</span><span class="p">.</span><span class="nf">Initializer</span><span class="p">()</span>
<span class="p">{</span>
    <span class="n">ApiKey</span> <span class="p">=</span> <span class="s">"&lt;your-api-key&gt;"</span><span class="p">,</span>
<span class="p">}))</span>
<span class="p">{</span>
    <span class="kt">var</span> <span class="n">searchRequest</span> <span class="p">=</span> <span class="n">youtubeService</span><span class="p">.</span><span class="n">Videos</span><span class="p">.</span><span class="nf">List</span><span class="p">(</span><span class="s">"snippet"</span><span class="p">);</span>
    <span class="n">searchRequest</span><span class="p">.</span><span class="n">Id</span> <span class="p">=</span> <span class="s">"CzvQxQYKO88"</span><span class="p">;</span>
    <span class="kt">var</span> <span class="n">searchResponse</span> <span class="p">=</span> <span class="k">await</span> <span class="n">searchRequest</span><span class="p">.</span><span class="nf">ExecuteAsync</span><span class="p">();</span>

    <span class="kt">var</span> <span class="n">youTubeVideo</span> <span class="p">=</span> <span class="n">searchResponse</span><span class="p">.</span><span class="n">Items</span><span class="p">.</span><span class="nf">FirstOrDefault</span><span class="p">();</span>
    <span class="k">if</span><span class="p">(</span><span class="n">youTubeVideo</span><span class="p">!=</span><span class="k">null</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="n">videoDetails</span> <span class="p">=</span> <span class="k">new</span> <span class="nf">YouTubeVideoDetails</span><span class="p">()</span>
        <span class="p">{</span>
            <span class="n">VideoId</span> <span class="p">=</span> <span class="n">youTubeVideo</span><span class="p">.</span><span class="n">Id</span><span class="p">,</span>
            <span class="n">Description</span> <span class="p">=</span> <span class="n">youTubeVideo</span><span class="p">.</span><span class="n">Snippet</span><span class="p">.</span><span class="n">Description</span><span class="p">,</span>
            <span class="n">Title</span> <span class="p">=</span> <span class="n">youTubeVideo</span><span class="p">.</span><span class="n">Snippet</span><span class="p">.</span><span class="n">Title</span><span class="p">,</span>
            <span class="n">ChannelTitle</span> <span class="p">=</span> <span class="n">youTubeVideo</span><span class="p">.</span><span class="n">Snippet</span><span class="p">.</span><span class="n">ChannelTitle</span>
        <span class="p">};</span>
    <span class="p">}</span>
<span class="p">}</span>
<span class="k">return</span> <span class="n">videoDetails</span><span class="p">;</span>
<span class="p">}</span>
</code></pre></div>



<p>You can see a full example on this <a href="https://github.com/bellons91/youtube-video-details">GitHub repository</a>.</p>

<p>Now we have the lyrics, and we are ready to learn about macroeconomics, power metal and inflation! Enjoy!</p>


  </div>