<div class="body" data-article-id="282897" id="article-body" itemprop="articleBody">
    <p>Today <a href="https://github.com/dotnet/core/blob/master/release-notes/3.1/3.1.2/3.1.200-sdk.md">NET Core 3.1.200 SDK - March 16, 2020</a> was installed on my development and production boxes.</p>

<p>With a new release, I tend to also install the Windows hosting bundle associated with each release, and in this case, it was <a href="https://dotnet.microsoft.com/download/dotnet-core/thank-you/runtime-aspnetcore-3.1.2-windows-hosting-bundle-installer">ASP.NET Core Runtime 3.1.2</a></p>

<p>However, on installing it, the next request to the website showed a 503 Service Unavailable error:</p>

<p><a href="https://res.cloudinary.com/practicaldev/image/fetch/s--Udc0RByg--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://i.imgur.com/le8MZAZ.png" class="article-body-image-wrapper"><img src="https://res.cloudinary.com/practicaldev/image/fetch/s--Udc0RByg--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://i.imgur.com/le8MZAZ.png" alt="" loading="lazy"></a></p>

<p>Debugging the w3 process in Visual Studio showed this error:<br>
</p>

<div class="highlight"><pre class="highlight powershell"><code><span class="nf">Unhandled</span><span class="w"> </span><span class="nx">exception</span><span class="w"> </span><span class="nx">at</span><span class="w"> </span><span class="nx">0x53226EE9</span><span class="w"> </span><span class="p">(</span><span class="nf">aspnetcorev2.dll</span><span class="p">)</span><span class="w"> </span><span class="kr">in</span><span class="w"> </span><span class="nf">w3wp.exe:</span><span class="w"> </span><span class="nx">0xC000001D:</span><span class="w"> </span><span class="nx">Ilegal</span><span class="w"> </span><span class="nx">Instruction.</span><span class="w">
</span></code></pre></div>



<p>Event Viewer had entries such as this:</p>

<p><a href="https://res.cloudinary.com/practicaldev/image/fetch/s--cvUrTWub--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://i.imgur.com/KoDAVk2.png" class="article-body-image-wrapper"><img src="https://res.cloudinary.com/practicaldev/image/fetch/s--cvUrTWub--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://i.imgur.com/KoDAVk2.png" alt="" loading="lazy"></a></p>

<p>I tried <code>IISRESET</code> and uninstalling the hosting bundle but that did not help.</p>

<p>I noticed that the application pool was stopped for my website, Restarting it would result in the same unhandled exception as above.</p>

<p>As a troubleshooting exercise, I created a new application pool and pointed my website to that one and deleted the old one.</p>

<p><a href="https://res.cloudinary.com/practicaldev/image/fetch/s--QcO1hWse--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://i.imgur.com/yqh8IS3.png" class="article-body-image-wrapper"><img src="https://res.cloudinary.com/practicaldev/image/fetch/s--QcO1hWse--/c_limit%2Cf_auto%2Cfl_progressive%2Cq_auto%2Cw_880/https://i.imgur.com/yqh8IS3.png" alt="" loading="lazy"></a></p>

<p>This seems to fixed things for now.</p>

<p>Success? 🎉</p>


  </div>