﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TechBlog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("ScriptsTop", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand btn btn-primary" href="~/">TECH BLOG</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav ml-auto">
                        @if (User.Identity.Name != null)
                        {
                            <li class="nav-item active mx-3">
                                <h5 class="nav-link">Hello @User.Identity.Name!!!</h5>
                            </li>
                            <li class="nav-item active mx-3">
                                <a class="nav-link btn btn-outline-light" asp-action="Create" asp-controller="Blogs">Post A Blog</a>
                            </li>
                            <li class="nav-item active mx-3">
                                <a class="nav-link btn btn-warning" asp-action="Logout" asp-controller="Accounts">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item active mx-3">
                                <a class="nav-link btn btn-outline-success" asp-action="Login" asp-controller="Accounts">Login</a>
                            </li>
                            <li class="nav-item active mx-3">
                                <a class="nav-link btn btn-outline-light" asp-action="Register" asp-controller="Accounts">Register</a>
                            </li>
                        }
                    </ul>

                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        @await Component.InvokeAsync("TagMenu")
        <main role="main" class="my-3 row">

            @RenderBody()
            <aside class="col-sm-3 ">
                <div class="p-3 mb-3 text-center bg-light">
                    <img class="rounded-circle" src="~/images/user/admin.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h2 class="h2">About me</h2>
                    <p>Nguyen Hieu Trung</p>
                    <nav class="d-flex px-5">
                        <a href="/"><img src="~/images/icon/facebook.svg" alt="Facebook" class="w-50" /></a>
                        <a href="/"><img src="~/images/icon/skype.svg" alt="Skype" class="w-50" /></a>
                        <a href="/"><img src="~/images/icon/linkedin.svg" alt="Linkedin" class="w-50" /></a>
                    </nav>
                </div>
                <div class="p-3 mb-3 text-center bg-light">
                    <h2>Archives</h2>
                    <ol class="list-unstyled mb-0">
                        <li><a href="#">March 2014</a></li>
                        <li><a href="#">February 2014</a></li>
                        <li><a href="#">January 2014</a></li>
                        <li><a href="#">December 2013</a></li>
                        <li><a href="#">November 2013</a></li>
                        <li><a href="#">October 2013</a></li>
                        <li><a href="#">September 2013</a></li>
                    </ol>
                </div>
            </aside>
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - TechBlog - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
