﻿@model TechBlog.Models.ViewModels.BlogPostVM;
@{
    ViewData["Title"] = "Create";
}


<div class="col-sm-9">
    <form enctype="multipart/form-data" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ImageDisplay" class="control-label"></label>
            <input type="file" asp-for="ImageDisplay" class="form-control" />
            <span asp-validation-for="ImageDisplay" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Tags" class="control-label"></label>
            <select multiple="multiple" asp-for="Tags" asp-items=@ViewBag.SelectTags class="form-control"></select>
            <span asp-validation-for="Tags" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="HtmlContent" class="control-label"></label>
            <textarea asp-for="HtmlContent" class="form-control" id="editor"></textarea>
            <span asp-validation-for="HtmlContent" class="text-danger"></span>
        </div>

        <div class="form-group">
            <a type="button" class="btn btn-secondary" data-dismiss="modal" asp-action="Index" asp-controller="Home">Back to home</a>
            <input type="submit" value="Post" class="btn btn-primary" />
        </div>
    </form>
</div>
@section ScriptsTop{
    <script src="~/lib/ckeditor5-build-classic/ckeditor.js"></script>
    @*<script src="~/lib/ckeditor5-build-classic/ckeditor5-upload/src/adapters/base64uploadadapter.js"></script>*@
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>
}


