﻿@model TechBlog.Models.ViewModels.BlogDetailVM;
@{
    ViewData["Title"] = "Detail";
}

<div class="col-sm-9">
    <img src=@Model.ImageUrl class="img-fluid" alt="Blog">
    <h1 class="h1">@Model.Title</h1>
    <div class="author-field">
        <h4 class="h4"><img src=@Model.ImageAuthorUrl class="rounded-circle" alt="Author" /><span>@Model.NameAuthor</span></h4>
        <p>
            @foreach (var tag in Model.Tags)
            {
            <a href="~/blogs/@tag.Name"><span class="badge badge-info">#@tag.Name</span></a>
            }
        </p>
    </div>
    <div class="blog-content">
        @Html.Raw(Model.HtmlContent)
    </div>
</div>

