﻿@model List<TechBlog.Models.EFModels.Tag>
<div class="nav-scroller pt-1">
    <nav class="nav d-flex justify-content-between">
        <a class="p-2" asp-action="Index" asp-controller="Home">#all</a>
        @foreach (var item in Model)
        {
            <a class="p-2" href="~/blogs/@item.Name">#@item.Name</a>
        }
    </nav>
</div>